DEEP DOWN IN OPERATORS

## Arithmetic Operators

In [2]:
a = 10
b = 15
result = a+b
product = a*b
division = a/b
print(result)
print(product)
print(division)

25
150
0.6666666666666666

In [26]:
num_1 = int(input("Eter the numner 1: "))
num_2 = int(input("enter the number 2: "))
add = num_1 + num_2
sub = num_1 - num_2
div = num_1 / num_2
mul = num_1 * num_2
print(add)
print(sub)
print(div)
print(mul)

22
2
1.2
120

In [5]:
21//5

4

Comparison Operators

In [6]:
a = 10
b = 10
a==b

True

In [7]:
a = 10
b = 10
print(a==b)

True

In [8]:
str_1 = "ALi"
str_2 = "Samad"
str_1 == str_2

False

In [9]:
str_1!=str_2

True

In [10]:
str_3 = "Krish"
str_4 = "krish"
str_3 == str_4

False

In [13]:
num_1 = 45
num_2 = 55
(num_1 <= num_2) & (num_1 > num_2)

False

In [14]:
num_1 = 21
num_2 = 13
print(num_1 != num_2)

True

Logical Operators

In [17]:
# And, Or ,Not

In [22]:
#And
x = True
y = True
result = x and y
print(result)

True

In [23]:
#OR 
X = True
Y = False
result = X or Y
print(result)

True

In [24]:
#Not
X = True
result = not X
print(result)

False

In [25]:
# write a code for simple calculator using Python
num_1 = input("enter the number 1 :")
num_2 = input("enter the number 2: ")
addition = num_1 + num_2
subtraction = num_1 - num_2
multiplication = num_1 * num_2
division = num_1 / num_2
Floor_division  = num_1 // num_2
exponent  = num_1 ** num_2
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(Floor_division)
print(exponent)

TypeError: unsupported operand type(s) for -: 'str' and 'str'