## Pandas- DataFrame and Series
Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and Dataframe. A series is a one-dimensional array like object, while a Dataframe is a two-Dimensional, Size-Mutable, and potentially heterogeneous tabular data structure with labeled axes(rows and columns)

In [1]:
import pandas as pd

In [7]:
## Series :- Pandas series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)
print("series:\n",series)
print(type(series))

series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
## Creating a series from  dictionary element
data = {'a':1,'b':2,'c':3,'d':4}
series_dict = pd.Series(data)
print(series_dict)
print(type(series_dict))

a    1
b    2
c    3
d    4
dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
data = [10,20,30]
index = ['a','b','c']
pd.Series(data, index= index)

a    10
b    20
c    30
dtype: int64

In [13]:
## DataFrame
## Create a DataFrame from Dictionary of list
data = {
    'Name':['Ali','Zain','Arhaan'],
    'Age': [20,23,18],
    'City':["Bhubaneswar", "Hyderabad", "Banda"]
}
df = pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age         City
0     Ali   20  Bhubaneswar
1    Zain   23    Hyderabad
2  Arhaan   18        Banda
<class 'pandas.core.frame.DataFrame'>

In [14]:
import numpy as np
np.array(df)

array([['Ali', 20, 'Bhubaneswar'],
       ['Zain', 23, 'Hyderabad'],
       ['Arhaan', 18, 'Banda']], dtype=object)

In [15]:
## Create a dataframe from list of dictionaries
data = [
    {'Name': "Ali", "Age":20, "City":"Bhubaneswar"},
    {'Name': "us", "Age":21, "City":"Bombay"},
    {'Name': "samad", "Age":22, "City":"Delhi"}
]
df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age         City
0    Ali   20  Bhubaneswar
1     us   21       Bombay
2  samad   22        Delhi
<class 'pandas.core.frame.DataFrame'>

In [22]:
df = pd.read_csv("final_data.csv")

In [23]:
df.head(5)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [24]:
df.tail(5)

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [25]:
## Accessing data from DataFrame
data

[{'Name': 'Ali', 'Age': 20, 'City': 'Bhubaneswar'},
 {'Name': 'us', 'Age': 21, 'City': 'Bombay'},
 {'Name': 'samad', 'Age': 22, 'City': 'Delhi'}]

In [26]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [28]:
df['N']

0        90
1        85
2        60
3        74
4        78
       ...
2195    107
2196     99
2197    118
2198    117
2199    104
Name: N, Length: 2200, dtype: int64

In [ ]:
## Row index - loc method
df.loc[0]

N                      90
P                      42
K                      43
temperature     20.879744
humidity        82.002744
ph               6.502985
rainfall       202.935536
label                rice
Name: 0, dtype: object

In [30]:
df.loc[0][0]

C:\Users\KIIT\AppData\Local\Temp\ipykernel_3204\2527876973.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][0]

90

In [31]:
df.iloc[0]

N                      90
P                      42
K                      43
temperature     20.879744
humidity        82.002744
ph               6.502985
rainfall       202.935536
label                rice
Name: 0, dtype: object

In [33]:
df.iloc[0][2]

C:\Users\KIIT\AppData\Local\Temp\ipykernel_3204\2519637664.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][2]

43

In [35]:
## Accessing Specified Elements
df["N"]

0        90
1        85
2        60
3        74
4        78
       ...
2195    107
2196     99
2197    118
2198    117
2199    104
Name: N, Length: 2200, dtype: int64

In [37]:
df.at[1,'K']

41

In [38]:
df.at[2,'K']

44

In [39]:
## Accessing Specified ELement using Iat
df.iat[2,2]

44

In [40]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [50]:
## data manipulation with data frame
## Remove a column
df.drop('ph', axis=1,inplace = True)
df

KeyError: "['ph'] not found in axis"

In [51]:

df

        N   P   K  temperature   humidity    rainfall   label
0      90  42  43    20.879744  82.002744  202.935536    rice
1      85  58  41    21.770462  80.319644  226.655537    rice
2      60  55  44    23.004459  82.320763  263.964248    rice
3      74  35  40    26.491096  80.158363  242.864034    rice
4      78  42  42    20.130175  81.604873  262.717340    rice
...   ...  ..  ..          ...        ...         ...     ...
2195  107  34  32    26.774637  66.413269  177.774507  coffee
2196   99  15  27    27.417112  56.636362  127.924610  coffee
2197  118  33  30    24.131797  67.225123  173.322839  coffee
2198  117  32  34    26.272418  52.127394  127.175293  coffee
2199  104  18  30    23.603016  60.396475  140.937041  coffee

[2200 rows x 7 columns]

In [52]:
## add an ranifall to the  column
df['rainfall'] = df['rainfall']+1
df

        N   P   K  temperature   humidity    rainfall   label
0      90  42  43    20.879744  82.002744  203.935536    rice
1      85  58  41    21.770462  80.319644  227.655537    rice
2      60  55  44    23.004459  82.320763  264.964248    rice
3      74  35  40    26.491096  80.158363  243.864034    rice
4      78  42  42    20.130175  81.604873  263.717340    rice
...   ...  ..  ..          ...        ...         ...     ...
2195  107  34  32    26.774637  66.413269  178.774507  coffee
2196   99  15  27    27.417112  56.636362  128.924610  coffee
2197  118  33  30    24.131797  67.225123  174.322839  coffee
2198  117  32  34    26.272418  52.127394  128.175293  coffee
2199  104  18  30    23.603016  60.396475  141.937041  coffee

[2200 rows x 7 columns]

In [55]:
df.drop(0,inplace = True)
df

KeyError: '[0] not found in axis'

In [56]:
df.describe()

,N,P,K,temperature,humidity,rainfall
count,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000
mean,50.533879,53.367894,48.151432,25.618398,71.476995,104.418420
std,36.916139,32.992495,50.659331,5.063892,22.267744,54.929909
min,0.000000,5.000000,5.000000,8.825675,14.258040,21.211267
25%,21.000000,28.000000,20.000000,22.770560,60.255364,65.544549
50%,37.000000,51.000000,32.000000,25.600337,80.471527,95.781896
75%,84.000000,68.000000,49.000000,28.561810,89.960531,125.222072
max,140.000000,145.000000,205.000000,43.675493,99.981876,299.560117