We will be talking about Loops in this chapter.Loops used to repeat a set of instructions,

In [1]:
# we will be talking about loops
range(5)

range(0, 5)

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [13]:
str = "ALI SAMAD"
for i in str:
    print(i)

A
L
I

S
A
M
A
D

In [14]:
#while loop
# while loop continues to execute as long as condition is true
count = 0
while(count < 5):
    print("count value: ",count)
    count = count + 1

count value:  0
count value:  1
count value:  2
count value:  3
count value:  4

In [18]:
count = 0
while (count % 2 == 0):
    print("count value: ",count)
    count = count + 1

count value:  0

In [21]:
for i in range(0,5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
#continue
for i in range(0,10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [26]:
# pass statement
for i in range(5):
    if i == 3:
        print("the number is 3")
        pass
    print(i)

0
1
2
the number is 3
3
4

In [27]:
# nested loops
# a loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j: {j}")

i:0 and j: 0
i:0 and j: 1
i:1 and j: 0
i:1 and j: 1
i:2 and j: 0
i:2 and j: 1

In [30]:
# examples
#calculate the sum of first n natural numbers using a while and for loop
n = 10
sum = 0
count = 1
while count <= n:
    sum = sum+count
    count = count + 1
print("sum of the first 10 natural numbers:", sum)

sum of the first 10 natural numbers: 55

In [31]:
n = 10
sum = 0
for i in range(11):
    sum = sum+i
print(sum)

55

In [32]:
#prime number using for loop
for num in range(0,11):
    if num > 1:
        for i in range(2,num):
            if(num % i) == 0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9