## Handling Imbalance Dataset
1. Up Scaling
2. Down Scaling

In [2]:
import numpy as np
import pandas as pd
## set the random seed for reducability
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [5]:
## create my dat frame with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : np.zeros(n_class_0)
})
class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1,size = n_class_1),
    'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_1),
    'target' : np.ones(n_class_1)
})

In [8]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0   0.139033  -1.298881     0.0
1   0.025577  -0.764578     0.0
2  -0.196443  -0.822786     0.0
3   1.312255  -1.120508     0.0
4   1.187417   2.119519     0.0

In [9]:
df.tail()

     feature_1  feature_2  target
995   2.540514   0.677156     1.0
996  -0.082706   0.963404     1.0
997   0.444621  -0.378524     1.0
998   1.896404   1.429559     1.0
999   0.237581   1.532273     1.0

In [10]:
df['target'].value_counts()

target
0.0    900
1.0    100
Name: count, dtype: int64

In [11]:
## Upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] ==  0]

In [15]:
from sklearn.utils import resample
df_majority_upsample = resample(df_majority, replace=True, n_samples=len(df_majority), random_state=42)

In [16]:
df_majority_upsample.shape

(900, 3)

In [17]:
df_minority_upsample = resample(df_minority, replace=True, n_samples=len(df_minority), random_state=42)

In [18]:
df_minority_upsample.shape

(100, 3)