## Data Encoding
1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. One-Hot-Encoding

## Nominal/OHE Encoding
One Hot encoding is also known as nominal encoding, is a technique used to represt categorical data as numerical data, which is more suittable for machine learning algorithms. In this techniques each category is represented as binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable ' color ' with three possible values (reb, blue, green), we can represent it using one hot encoding as follows:
1. Red : [1,0,0]
2. Blue : [0,1,0]
3. Green : [0,0,1]

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## create a simple data frame
df = pd.DataFrame({
    'color': ['red', 'blue', 'green']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green

In [6]:
## create an instance of OnehotEncoder
encoder = OneHotEncoder()

In [8]:
## fit and then transfrom
encoder_values = encoder.fit_transform(df[['color']]).toarray()

In [9]:
encoder_values

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [10]:
import pandas as pd
encoder_df = pd.DataFrame(encoder_values, columns=encoder.get_feature_names_out())

In [11]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0

In [12]:
encoder.transform([['blue']]).toarray()

c:\Users\KIIT\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [14]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0